@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.eot");
    src: url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a294fb387eda4c52a3224aa008dcb2fe.svg#Museo Sans Cyrl 500 Regular")format("svg");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* header start */
.header {
    padding-top: 26px;
    padding-bottom: 28px;
}

.header-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
}

.header-btn {
    margin-left: auto;
    margin-right: 24px;
    padding: 8px 19px;
    background-color: #F8F8F8;
    border: none;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3B3B3B;
    cursor: pointer;
}

.header-line {
    width: 1px;
    height: 40px;
    background-color: #F2F2F2;
    margin-right: 24px;
}

.header-shop {
    display: flex;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;

}

.header-shop-count {
    width: 16px;
    height: 16px;
    background-color: #2B1EDD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    border-radius: 50%;

    position: absolute;
    top: -7px;
    right: -4px;
}

.header-menu {
    display: flex;
    background-color: transparent;
    border: none;
    margin-right: 8px;
    cursor: pointer;
    display: none;
}

@media (max-width: 540px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-logo img {
        width: 99px;
    }

    .header-btn {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-right: 17px;
    }

    .header-line {
        display: none;
    }

    .header-menu {
        display: block;
    }
}

/* header end  */


/* footer start */
.footer {
    background-image: url(../img/layout/footer/bg.png);
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding-top: 474px;
    padding-bottom: 58px;
}

.footer-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-info {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer-logo {
    margin-bottom: 38px;
    display: block;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.footer-social-link {
    display: flex;
    gap: 8px;
    text-decoration: none;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
}

.footer-menu-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 55px;
}

.footer-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-menu-link {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    text-decoration: none;
}

.footer-btns {
    display: flex;
    gap: 43px;
    margin-bottom: 108px;
}

.footer-btn {
    padding: 12px 20px;
    border: none;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #3B3B3B;
    border-radius: 3px;
    min-width: 208px;
}

.footer-btn.active {
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px 0px #00000012;
    color: white;
    font-weight: 600;
}

.footer-footer {
    display: flex;
    gap: 62px;
}

.footer-footer-text {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;

}

.footer-footer-link {
    color: #3B3B3B;
    text-decoration: none;
}


@media (max-width: 540px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 44px;
        background-image: url(../img/layout/footer/footer-responsive-bg.png);
        background-position-y: 391px;
    }

    .footer-info {
        display: grid;
        gap: 56px;
        margin-bottom: 56px;
    }

    .footer-menu-title {
        margin-bottom: 36px;
    }

    .footer-btns {
        display: grid;
        gap: 18px;
        margin-bottom: 18px;
    }

    .footer-footer {
        justify-content: center;
    }

    .footer-footer-text-del {
        display: none;
    }
}


/* blog start */

.blog {
    padding-top: 364px;
    padding-bottom: 62px;
}

.blog-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.blog-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40.8px;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 56px;
}

.blog-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 59px;
}

.blog-col {
    border-radius: 3px 3px 5px 5px;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px #00000012;
    transition: all .3s;
}

.blog-col:hover {
    box-shadow: 0px 15px 40px 0px #0000001F;
    transform: translateY(-14px);
}

.blog-col-img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    display: block;
}

.blog-col-info {
    background-color: white;
    padding: 36px 24px 24px 24px;
}

.blog-col-title {
    margin-bottom: 20px;
}

.blog-col-title a {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #333333;
    text-decoration: none;
}

.blog-col-bottom {
    display: flex;
    align-items: center;
}

.blog-col-bottom-comment {
    margin-right: auto;
    align-items: center;
    display: flex;
    gap: 8px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-decoration: none;
    color: #828282;
}

.blog-col-bottom-see {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #828282;

}

.blog-col-bottom-line {
    width: 1px;
    height: 14px;
    background-color: #E8E8E8;
    margin-left: 8px;
    margin-right: 10px;
}

.blog-col-bottom-like {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #828282;
    text-decoration: none;
    cursor: pointer;
}

.blog-more {
    text-align: center;
    display: flex;
    justify-content: center;
}

.blog-more-text {
    min-width: 177px;
    font-family: Museo Sans Cyrl, sans-serif;
    color: #434343;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ECECEC;
    text-decoration: none;
    border-radius: 3px
}

@media (max-width: 980px) {
    .blog-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .blog {
        padding-top: 547px;
        padding-bottom: 40px;
    }

    .blog-title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 36px;
    }

    .blog-col-title {
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 24px;
    }

    .blog-col-bottom-comment-text {
        display: none;
    }

    .blog-row {
        grid-template-columns: 1fr;
        gap: 36px;
        margin-bottom: 36px;
    }

    .blog-col:hover {
        transform: translateY(-7px);
    }
}

/* team start */

.team {
    padding-top: 64px;
    padding-bottom: 0;
    background-color: white;
}

.team-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.team-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40.8px;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 56px;
    text-transform: uppercase;

}

.team-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.team-col {}

.team-col-img {
    width: 100%;
    display: block;
    margin-bottom: 24px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all .3s;
}

.team-col-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #333333;
    margin-bottom: 30px;

}

.team-col-btn {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    background: transparent;
    border-radius: 3px;
    color: #434343;
    border: 1px solid #828282;
    transition: all .3s;
}

.team-col:hover .team-col-btn {
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    color: white;
}

.team-col:hover .team-col-img {
    filter: grayscale(0%);
}

@media (max-width: 980px) {
    .team-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (max-width: 540px) {
    .team {
        padding-top: 40px;
    }

    .team-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 56px;
    }

    .team-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 36px;
    }

    .team-col-img {
        margin-bottom: 20px;
    }

    .team-col-title {
        margin-bottom: 24px;
    }
}

/* audio start */

.audio {
    background-color: #F8F8F8;
    padding-top: 160px;
    padding-bottom: 135px;
    text-align: center;
    position: relative;
}

.audio-bg {
    max-width: 1920px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.audio-container {
    max-width: 827px;
    position: absolute;
    width: 94%;
    left: 50%;
    top: 96px;
    transform: translateX(-50%);
}

.audio-top {
    background-color: red;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 18px 24px;
    background-image: url(../img/home/audio/top-bg.jpg);
    background-size: cover;
    box-shadow: 0px 4px 30px 6px #0000000D;

}

.audio-top-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
}

.audio-top-link {
    padding-left: 18px;
    padding-right: 18px;
    background-color: #FFFFFF;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #434343;
    text-decoration: none;
    border-radius: 3px;
}

.audio-main {
    width: 100%;
    box-shadow: 0px 4px 30px 6px #0000000D;
    margin-bottom: 56px;
}

.audio-main-img {
    width: 100%;
}

.audio-main-img-2 {
    display: none;
    width: 100%;
}

.audio-link {
    padding: 0 6px;
    font-family: Museo Sans Cyrl, sans-serif;
    color: #434343;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 177px;
}

@media (max-width:540px) {
    .audio {
        padding-top: 25px;
        padding-bottom: 28px;
    }

    .audio-bg {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .audio-container {
        top: 82px;
    }

    .audio-top {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: auto;
        padding-top: 8px;
        padding-left: 18px;
        padding-bottom: 18px;
        border-radius: 3px 3px 0 0;
    }

    .audio-top-title {
        font-size: 18px;
        line-height: 50.5px;
        letter-spacing: 0.01em;
        text-align: left;
        margin-bottom: 5px;
    }

    .audio-top-link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .audio-main-img {
        display: none;
    }

    .audio-main-img-2 {
        display: block;
    }

    .audio-main {
        margin-bottom: 36px;
    }
}

/* videos start */

.videos {
    padding-top: 142px;
    padding-bottom: 27px;
    background-image: url(../img/home/video/video-bg-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.videos-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    gap: 36px;
    justify-content: space-between;

}

.videos-main {
    max-width: 888px;
    width: 100%;

}

.videos-main-video {
    width: 100%;
    height: 492px;
    display: block;

}

.videos-main-info {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    color: #828080;

}

.videos-main-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
    margin-bottom: 8px;
}

.videos-main-bottom-view {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #828080;

}

.videos-main-bottom-time {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #828080;

}

.videos-main-info-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.videos-main-btn {
    width: 164px;
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px 0px #00000012;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 3px;
}

.videos-main-bottom-link {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #828080;
    text-align: right;
}


.video-catalog {
    max-width: 247px;
    width: 100%;
    max-height: 633px;
    overflow: auto;

}

.video-catalog::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.video-catalog::-webkit-scrollbar-track {
    background: #EDEDED;
    border-radius: 4px;

}

/* Handle */
.video-catalog::-webkit-scrollbar-thumb {
    background: #2B1EDD;
    border-radius: 4px;
}

/* Handle on hover */
.video-catalog::-webkit-scrollbar-thumb:hover {
    background: #2115ce;
}

.video-catalog {
    padding-right: 17px;
}

.video-catalog-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.video-catalog-card {
    cursor: pointer;
}

.video-catalog-img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
}

.video-catalog-card-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
    max-width: 140px;
}

.video-catalog-card-name {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #B4B4B4;
}

@media (max-width:740px) {
    .videos {
        padding-top: 81px;
        padding-bottom: 3px;
        background-size: contain;
    }

    .videos-container {
        flex-direction: column;
        gap: 24px;
    }

    .videos-main-video {
        height: 181px;
        display: inline-block;
        width: 100%;
    }

    .videos-main-info {
        flex-direction: column;
        padding-top: 30px;
        gap: 24px;
    }

    .videos-main-title {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 6px;
    }

    .videos-main-bottom-view,
    .videos-main-bottom-time {
        font-size: 15px;
        font-style: italic;
        line-height: 35px;
    }

    .videos-main-info-right {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .videos-main-btn {
        background: #ECECEC;
        width: 202px;
        color: #3B3B3B;
    }

    .videos-main-bottom-link {
        font-size: 14px;
    }

    .video-catalog {
        max-width: 100%;
        padding-right: 10px;
        max-height: 280px;
    }

    .video-catalog-cards {
        gap: 8px;
    }

    .video-catalog-card {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .video-catalog-img {
        width: 100%;
        height: 78px;
        object-fit: cover;
        border-radius: 3px;
        margin-bottom: 0;
    }

    .video-catalog-card-name {
        font-size: 14px;
        line-height: 17.5px;
        margin-bottom: 6px;
    }

    .video-catalog-card-name {
        font-size: 10px;
        font-style: italic;
        line-height: 15px;
    }
}


/* book shop */

.book-shop {
    padding-top: 0;
    padding-bottom: 0;
}

.book-shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book-shop-img {
    width: 100%;
    height: 546px;
    object-fit: cover;
}

.book-shop-info {
    padding: 76px 66px;
}

.book-shop-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #393939;
    margin-bottom: 26px;
    max-width: 434px;
}

.book-shop-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    max-width: 434px;
    margin-bottom: 71px;
}

.book-shop-bottom {
    display: flex;
    gap: 24px;
    align-items: center;
}

.book-shop-btn {
    width: 222px;
    background-color: #EBEBEB;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 3px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;

}

.book-shop-price {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
}

.book-shop .book-shop-container:nth-child(2) {
    margin-bottom: 86px;
}

.book-shop .book-shop-container:nth-child(2) img {
    order: 2;
}

.book-shop .book-shop-container:nth-child(2) .book-shop-info h2 {
    text-align: right;
    margin-left: auto;
}

.book-shop .book-shop-container:nth-child(2) .book-shop-info p {
    text-align: right;
    margin-left: auto;
}

.book-shop .book-shop-container:nth-child(2) .book-shop-info .book-shop-bottom {
    justify-content: end;
    flex-direction: row-reverse;
}

.book-shop-link {
    max-width: 466px;
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px 0px #00000012;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

@media (max-width: 890px) {
    .book-shop-container {
        grid-template-columns: 1fr;
    }

    .book-shop-img {
        height: 308px;
    }

    .book-shop .book-shop-container:nth-child(2) .book-shop-img {
        order: -1;
    }

    .book-shop .book-shop-container:nth-child(2) .book-shop-info h2 {
        text-align: left;
        margin-left: 0;
    }

    .book-shop .book-shop-container:nth-child(2) .book-shop-info p {
        text-align: left;
        margin-left: 0;
    }

    .book-shop .book-shop-container:nth-child(2) .book-shop-info .book-shop-bottom {
        justify-content: start;
        align-items: start;
        flex-direction: column-reverse;
        gap: 36px;
    }

    .book-shop .book-shop-container:nth-child(1) .book-shop-info .book-shop-bottom {
        justify-content: start;
        align-items: start;
        flex-direction: column-reverse;
        gap: 36px;
    }
}

@media (max-width:540px) {
    .book-shop-img {
        height: 208px;
    }

    .book-shop-info {
        padding: 36px 42px 56px 42px;
        background-color: #F8F8F8;
    }

    .book-shop-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 24px;
    }

    .book-shop-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 24px;
    }

    .book-shop-price {
        font-size: 36px;
        font-weight: 600;
        line-height: 50.5px;
    }

    .book-shop-btn {
        width: 100%;
    }

    .book-shop .book-shop-container:nth-child(2) {
        margin-bottom: 24px;
    }
}

/* book info start */

.book-info {
    background-color: #F8F8F8;
}

.book-info-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.book-info-info {
    max-width: 756px;
    width: 100%;
    padding-top: 114px;
    padding-bottom: 67px;
}

.book-info-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 55px;
}

.book-info-name {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: right;
    color: #3B3B3B;
}

.book-info-right {
    max-width: 365px;
    width: 100%;
}

.book-info-img {
    height: 390px;
    object-fit: cover;
    width: 100%;
    display: block;
}

.book-info-title {
    background-color: #3B3B3B;
    color: #FFFFFF;
    padding: 33px 37px 34px 24px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40.8px;
    font-weight: 700;
    line-height: 54.5px;
    letter-spacing: 0.01em;
    text-align: left;

}

@media (max-width: 900px) {
    .book-info-container {
        flex-direction: column-reverse;
    }

    .book-info-info {
        padding-top: 36px;
    }
}

@media (max-width:540px) {
    .book-info-container {
        padding-left: 0;
        padding-right: 0;
    }

    .book-info-info {
        padding-top: 36px;
        padding-left: 43px;
        padding-right: 42px;
        padding-bottom: 56px;
    }

    .book-info-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 36px;
    }

    .book-info-name {
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
    }

    .book-info-right {
        max-width: 100%;
    }

    .book-info-img {
        height: 390px;
    }

    .book-info-title {
        padding: 33px 28px 34px 43px;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
    }
}



/* about start */

.about {
    padding-top: 110px;
    padding-bottom: 84px;
}

.about-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    gap: 20px;

}

.about-left {
    max-width: 355px;
}

.about-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.about-time {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
    display: block;
    color: #828080;
    margin-bottom: 21px;
}

.about-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
}

.about-right {
    max-width: 729px;
    margin-left: auto;
}

.about-right-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 24.48px;
    font-style: italic;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 33px;
    max-width: 528px;
}

.about-right-name {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #828080;
    margin-bottom: 45px;
}

.about-right-text-2 {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
    padding-left: 48px;
    border-left: 2px solid #E122F9;
    margin-bottom: 53px;
    color: #828080;
}

.about-right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-right-link {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #5C90DE;
    text-decoration: none;
}

.about-right-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration: none;
    color: #3B3B3B;
}

@media (max-width: 768px) {
    .about {
        padding-top: 50px;
        padding-bottom: 56px;
    }

    .about-container {
        flex-direction: column;
        gap: 36px;
        padding-left: 43px;
        padding-right: 43px;
    }

    .about-left {
        max-width: 100%;
    }

    .about-title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 17px;
    }

    .about-time {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 21px;
    }

    .about-text {
        font-size: 18px;
        line-height: 26px;
    }

    .about-right-text {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 17px;
    }

    .about-right-name {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 23px;
    }

    .about-right-text-2 {
        padding-left: 18px;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .about-right-bottom {
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }

    .about-right-right {
        background-color: #ECECEC;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 7px;
        padding-bottom: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.01em;
        text-align: left;
        border-radius: 3px;
        display: inline-flex;
        justify-content: space-between;
        gap: 12px;
    }

}


.book-about {
    padding-top: 83px;
    padding-bottom: 129px;
}

.book-about-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.book-about-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40.8px;
    font-weight: 700;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 24px;
}

.book-about-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 105px;
}

.book-about-shop {
    display: flex;
    gap: 69px;
    margin-bottom: 36px;
}

.book-about-shop-books {
    display: flex;
    align-items: center;
    gap: 36px;
    max-width: 471px;
    width: 100%;
}

.book-about-shop-books-item {
    width: 100%;
    max-width: 84px;
}

.book-about-shop-books .book-about-shop-books-item:nth-child(2) {
    max-width: 231px;
}

.book-about-shop-books-info {
    max-width: 451px;
}

.book-about-shop-books-title {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 24px;
}

.book-about-shop-books-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 56px;
}

.book-about-shop-books-shop {
    display: flex;
    gap: 24px;
    align-items: center;
}

.book-about-shop-books-btn {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px 0px #00000012;
    width: 222px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
}

.book-about-shop-books-price {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50.5px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
}

.book-about-shop-text {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 30px;
}

.book-about-bottom {
    display: flex;
    justify-content: space-between;
}

.book-about-bottom-list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.book-about-bottom-item {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #828080;
}

.book-about-bottom-name {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: right;
    color: #3B3B3B;
}

.book-about-shop .book-about-bottom-list {
    display: none;
}

@media (max-width: 900px) {
    .book-about-shop {
        flex-direction: column;
        gap: 36px;
    }
}

@media (max-width: 540px) {
    .book-about {
        padding-top: 0;
        padding-bottom: 56px;
    }

    .book-about-info {
        background-color: #F8F8F8;
        padding: 56px 42px 71px;
    }

    .book-about-container {
        padding-left: 0;
        padding-right: 0;
    }

    .book-about-title {
        font-size: 36px;
        line-height: 50.5px;
        margin-bottom: 24px;
    }

    .book-about-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 0;
    }

    .book-about-shop-books {
        display: flex;
        justify-content: space-evenly;
        gap: 0;
        padding-top: 56px;
    }

    .book-about-shop-books-item {
        max-width: 49px;
        width: 100%;
        display: block;
    }

    .book-about-shop-books .book-about-shop-books-item:nth-child(2) {
        max-width: 140px;
        width: 100%;
    }

    .book-about-shop-books-info {
        padding: 0 42px;
    }

    .book-about-shop-books-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 24px;
    }

    .book-about-shop-books-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 36px;
    }

    .book-about-shop-books-shop {
        flex-direction: column-reverse;
        align-items: start;
        gap: 36px;
        margin-bottom: 36px;
    }

    .book-about-shop-books-btn {
        width: 100%;
    }

    .book-about-shop-books-price {
        font-size: 36px;
        font-weight: 600;
        line-height: 50.5px;

    }

    .book-about-shop .book-about-bottom-list {
        display: flex;
        justify-content: center;
    }

    .book-about-shop-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 24px;
        padding: 0 42px;
    }

    .book-about-bottom-list {
        display: none;
    }

    .book-about-bottom-name {
        max-width: 153px;
        margin-left: auto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-right: 42px;
    }
}

/* hero start */
.hero {
    padding-top: 81px;
    padding-bottom: 88px;
    background-image: url(../img/home/hero/bg.png);
    background-repeat: no-repeat;
    background-position-x: calc(50% - 386px);
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1240px;
}

.hero-box {
    max-width: 853px;
    margin-left: auto;
}

.hero-title-1 {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    margin-bottom: 22px;
}

.hero-title-2 {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 76px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
    margin-left: 108px;
    font-size: 72px;
    background: linear-gradient(90.21deg, #E122F9 4.11%, #6F2FF5 53.99%, #2B1EDD 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-title-3 {
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
    margin-left: 50px;
    margin-bottom: 57px;
    background: linear-gradient(90.21deg, #E122F9 4.11%, #6F2FF5 53.99%, #2B1EDD 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-text {
    max-width: 608px;
    margin-left: auto;
    margin-right: 37px;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 24.48px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 58px;

}

.hero-text b {
    display: block;
}

.hero-box-link {
    display: flex;
    justify-content: end;
}

.hero-link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: Museo Sans Cyrl, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #3B3B3B;
    text-decoration: none;
}


@media (max-width:880px) {
    .hero {
        background-position-x: center;
        background-position-y: center;
        background-image: url(../img/home/hero/res-bg.png);
    }

    .hero-box {
        max-width: 100%;
    }

    .hero-title-1 {
        text-align: center;
    }

    .hero-title-2 {
        margin-left: 0;
        text-align: center;
    }

    .hero-title-3 {
        margin-left: 0;
        text-align: center;
        margin-bottom: 395px;
    }
}

@media (max-width:540px) {
    .hero {
        padding-top: 40px;
        padding-bottom: 38px;
    }

    .hero-title-1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 18px;
    }

    .hero-title-2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 17px;
    }

    .hero-title-3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 385px;
    }

    .hero-text {
        font-size: 18px;
        line-height: 26px;
        padding-left: 42px;
        padding-right: 42px;
        margin: 0;
        margin-bottom: 28px;
    }
}